fastapi==0.110.2
ginza==5.2.0
ginza-transformers==0.4.2
ja-ginza==5.2.0
jieba==0.42.1
numpy==1.26.4
pydantic==2.7.1
requests==2.31.0
spacy==3.7.4
spacy-transformers==1.1.9
thinc==8.2.3
tokenizers==0.13.3
torch==2.2.2
transformers==4.25.1
uvicorn==0.29.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.7.1/en_core_web_lg-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/ja_core_news_lg-3.7.0/ja_core_news_lg-3.7.0-py3-none-any.whl
https://github.com/megagonlabs/ginza/releases/download/latest/ja_ginza_electra-latest-with-model.tar.gz
